# Gradle
.gradle
build/
*.jar

# IDE
.idea/
*.iml
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/

# OS
.DS_Store
Thumbs.db

# Minecraft
run/
out/

# Environment
.env
.env.local
